h1,h2,h3 {
	color: black;
	text-align: center;
	
}
form {
	color: white;
	text-align: center;
	font-size: 52px;
}
p {
	color: BurlyWood;
	text-align: center;
	font-size: 20px;
}
button {
	background-color: BurlyWood;
	border-radius: 20px;
}