h1,h2,h3 {
	color: black;
	text-align: center;
	
}
form {
	color: white;
	text-align: center;
	font-size: 52px;
}
p {
	color: black;
	text-align: center;
	font-size: 26px;
}
button {
	background-color: LIGHTCORAL;
	border-radius: 20px;
	text-align: center;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ff3434 ;
}

li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 22px;
	text-decoration: none;
}
li a:hover {
	background-color: #111111;
}

body {
	text-align: center;
	background-repeat: no-repeat;
	background-size: 2000px 1200px;
}
h5 {
	font-family: Courier;
	color: white
}
h4 {
	color: red;
}